<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://airbnbrep.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>site25664.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site25664</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>site25664</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ReplicaAirbnbEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=db19548.databaseasp.net;Initial Catalog=db19548;User ID=db19548;Password=&quot;2w=CaP9+!cJ5&quot;;Encrypt=False" Name="Server=db19548.databaseasp.net; Database=db19548; User Id=db19548; Password=2w=CaP9+!cJ5; Encrypt=False; MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Replica.Models.ReplicaAirbnbEntities1, Replica" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ReplicaAirbnbEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=db19548.databaseasp.net;Initial Catalog=db19548;User ID=db19548;Password=&quot;2w=CaP9+!cJ5&quot;;Encrypt=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-U82ML8C\SQLEXPRESS;Initial Catalog=ReplicaAirbnb;User ID=sa;Password=sa123;TrustServerCertificate=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ReplicaAirbnbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U82ML8C\SQLEXPRESS;initial catalog=ReplicaAirbnb;user id=sa;password=sa123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ReplicaAirbnbAzureEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Replica.Models.ReplicaAirbnbEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="ReplicaAirbnbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=db19548.databaseasp.net;initial catalog=db19548;user id=db19548;password="2w=CaP9+!cJ5";encrypt=False;MultipleActiveResultSets=True;App=EntityFramework'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ReplicaAirbnbEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Server=db19548.databaseasp.net; Database=db19548; User Id=db19548; Password=2w=CaP9+!cJ5; Encrypt=False; MultipleActiveResultSets=True;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>